Repository Team4-kw13/Team4_FE, pull requests merged in 2025-08, with the labels that each got.

#2 chore: eslint, prettier 설정
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierrc
  eslint.config.js
  package-lock.json
  package.json
  src/App.css
  src/App.jsx
  src/assets/react.svg
  src/index.css
  src/main.jsx
Labels: chore

#6 chore: main 병합 시, 개인 레포로 push
  .github/workflows/cd.yml
Labels: chore

#8 fix: cd 기본 토큰 오류 수정
  .github/workflows/cd.yml
Labels: chore

#10 feat: contract-analysis 페이지 구현
  eslint.config.js
  jsconfig.json
  package-lock.json
  package.json
  src/components/BackButton/BackButton.jsx
  src/components/BackButton/BackButton.module.css
  src/components/Icon/Icon.jsx
  src/features/contract-analysis/components/ContractAnalysisHeader.jsx
  src/features/contract-analysis/components/ContractAnalysisHeader.module.css
  src/features/contract-analysis/components/ContractAnalysisStartButton.jsx
  src/features/contract-analysis/components/ContractAnalysisStartButton.module.css
  src/features/contract-analysis/components/ContractAnalysisStepItem.jsx
  src/features/contract-analysis/components/ContractAnalysisStepItem.module.css
  src/features/contract-analysis/components/ContractAnalysisStepList.jsx
  src/features/contract-analysis/components/ContractAnalysisStepList.module.css
  src/features/contract-analysis/constants/contractAnalysisSteps.js
  src/features/contract-analysis/pages/ContractAnalysis.jsx
  src/features/contract-analysis/pages/ContractAnalysis.module.css
  src/router/AppRouter.jsx
  src/router/routes.constant.js
Labels: feat

#15 feat: 계약서 분석 업로드 구현
  src/components/BackButton/BackButton.jsx
  src/features/contract-analysis/main/components/ContractAnalysisHeader.jsx
  src/features/contract-analysis/main/components/ContractAnalysisHeader.module.css
  src/features/contract-analysis/main/components/ContractAnalysisStartButton.jsx
  src/features/contract-analysis/main/components/ContractAnalysisStartButton.module.css
  src/features/contract-analysis/main/components/ContractAnalysisStepItem.jsx
  src/features/contract-analysis/main/components/ContractAnalysisStepItem.module.css
  src/features/contract-analysis/main/components/ContractAnalysisStepList.jsx
  src/features/contract-analysis/main/components/ContractAnalysisStepList.module.css
  src/features/contract-analysis/main/constants/contractAnalysisSteps.js
  src/features/contract-analysis/main/pages/ContractAnalysisMain.jsx
  src/features/contract-analysis/main/pages/ContractAnalysisMain.module.css
  src/features/contract-analysis/pages/ContractAnalysis.jsx
  src/features/contract-analysis/pages/ContractAnalysis.module.css
  src/features/contract-analysis/upload/components/ImageUploadButton.jsx
  src/features/contract-analysis/upload/components/ImageUploadButton.module.css
  src/features/contract-analysis/upload/constants/constants.js
  src/features/contract-analysis/upload/pages/ContractAnalysisUpload.jsx
  src/features/contract-analysis/upload/pages/ContractAnalysisUpload.module.css
  src/stores/useStep.js
Labels: feat

#21 chore: vercel.json 설정
  vercel.json
Labels: chore

#18 홈화면 구현
  src/assets/icons/select.svg
  src/features/home/components/HomePageAnalysis.jsx
  src/features/home/components/HomePageAnalysis.module.css
  src/features/home/components/HomePageClick.jsx
  src/features/home/components/HomePageClick.module.css
  src/features/home/components/HomePageHeader.jsx
  src/features/home/components/HomePageHeader.module.css
  src/features/home/components/HomePageLegal.jsx
  src/features/home/components/HomePageLegal.module.css
  src/features/home/pages/HomePage.jsx
  src/features/home/pages/HomePage.module.css
  src/router/AppRouter.jsx
  src/router/routes.constant.js
Labels: feat

#19 Features/listcontract
  package-lock.json
  src/features/list-contract/components/ListContractHeader.jsx
  src/features/list-contract/components/ListContractHeader.module.css
  src/features/list-contract/components/ListContractItem.jsx
  src/features/list-contract/components/ListContractItem.module.css
  src/features/list-contract/components/ListContractList.jsx
  src/features/list-contract/components/ListContractList.module.css
  src/features/list-contract/pages/ListContract.jsx
  src/features/list-contract/pages/ListContract.module.css
  src/router/AppRouter.jsx
  src/router/routes.constant.js
Labels: feat, chore, rename

#23 design: 전체 페이지 스타일 수정
  public/fonts/Saehayan.ttf
  src/App.module.css
  src/features/analysis-history/containers/AnalysisHistoryTranslate.jsx
  src/features/analysis-history/containers/AnalysisHistoryTranslate.module.css
  src/features/contract-analysis/containers/ContractAnalysisTranslate.jsx
  src/features/contract-analysis/containers/ContractAnalysisTranslate.module.css
  src/features/contract-analysis/pages/ContractAnalysis.jsx
  src/features/contract-analysis/pages/ContractAnalysisResult.jsx
  src/features/contract-analysis/pages/ContractAnalysisResult.module.css
  src/features/home/components/HomePageAnalysis.jsx
  src/features/home/components/HomePageAnalysis.module.css
  src/features/home/components/HomePageClick.jsx
  src/features/home/components/HomePageClick.module.css
  src/features/home/components/HomePageHeader.jsx
  src/features/home/components/HomePageHeader.module.css
  src/features/home/components/HomePageLegal.jsx
  src/features/home/components/HomePageLegal.module.css
  src/features/home/pages/HomePage.jsx
  src/features/home/pages/HomePage.module.css
  src/features/list-contract/components/ListContractItem.jsx
  src/features/list-contract/components/ListContractItem.module.css
  src/features/list-contract/components/ListContractList.jsx
  src/features/list-contract/components/ListContractList.module.css
  src/features/list-lawyer/components/ListLawyerList.module.css
  src/features/list-site/components/ListSiteLawyerHeader.jsx
  src/features/list-site/pages/ListSite.jsx
  src/features/list-site/pages/ListSite.module.css
  src/router/AppRouter.jsx
  src/router/routes.constant.js
  src/styles/font.css
  src/styles/global.css
Labels: design

#25 feat: 홈화면 아이콘 애니메이션
  src/features/home/components/HomePageClick.module.css
Labels: feat, design

#26 계약서 리스트 무한스크롤 구현
  src/features/list-contract/components/ListContractItem.jsx
  src/features/list-contract/components/ListContractList.jsx
  src/features/list-contract/components/ListContractList.module.css
  src/features/list-contract/hooks/useInfiniteScroll.js
  src/features/list-contract/services/contractsApi.js
Labels: feat

#27 스플래시 프론트 작업
  src/App.jsx
  src/assets/images/house.svg
  src/features/splash/components/SplashHeader.jsx
  src/features/splash/components/SplashHeader.module.css
  src/features/splash/components/SplashIcon.jsx
  src/features/splash/components/SplashIcon.module.css
  src/features/splash/pages/Splash.jsx
  src/features/splash/pages/Splash.module.css
Labels: feat, design

#41 fix: 계약서 분석 스크롤 수정
  src/components/step-progress/StepProgress.jsx
  src/features/contract-analysis-result/hooks/useFetchOcrTranslationData.js
  src/features/contract-analysis-result/pages/ContractAnalysisResult.jsx
  src/features/list-contract/pages/ListContract.jsx
  src/hooks/useScrollSnap.js
Labels: fix

#42 fix: 더미 제거 및 open ai 오류 대처
  src/constants/dummy.js
  src/features/contract-analysis-result/constants/prompt.js
  src/features/contract-analysis-result/hooks/useFetchOcrTranslationData.js
  src/features/contract-analysis-result/hooks/useOcrAnalysis.js
  src/features/contract-analysis-result/hooks/useSummary.js
  src/features/contract-analysis-result/hooks/useTranslation.js
  src/features/contract-analysis-result/pages/ContractAnalysisResult.jsx
  src/hooks/useScrollSnap.js
  src/stores/DocumentAnalysisProvider.jsx
  src/stores/DocumentAnalysisStore.jsx
  src/utils/highlightMarkers.js
Labels: fix

#43 fix: 이미지 전체 다운로드가 아닌 현재 페이지 다운로드로 변경
  src/components/analysis-download-button/ContractAnalysisDownloadButton.jsx
  src/features/analysis-history/containers/AnalysisHistoryHighlight.jsx
  src/features/analysis-history/containers/AnalysisHistoryTranslate.jsx
  src/features/analysis-history/pages/AnalysisHistory.jsx
  src/features/analysis-history/pages/AnalysisHistory.module.css
  src/features/contract-analysis-result/containers/ContractAnalysisHighlight.jsx
  src/features/contract-analysis-result/containers/ContractAnalysisTranslate.jsx
Labels: fix

#44 Features/design fix
  src/features/home/components/HomePageHeader.jsx
  src/features/list-lawyer/pages/ListLawyer.jsx
  src/features/list-site/pages/ListSite.jsx
  src/features/mypage/components/MyPageActivity.module.css
  src/features/mypage/components/MyPageProfile.jsx
  src/features/mypage/components/MyPageSetting.module.css
  src/features/mypage/pages/MyPage.jsx
  src/features/mypage/pages/MyPage.module.css
Labels: feat, fix, design
